<h2>Yhdistä Telegram-bottiin</h2>

Voit yhdistää tilisi käyttämällä <%= link_to "tätä linkkiä", "http://telegram.me/ollpus_test_bot?start=#{@key}" %> (Telegram avautuu, paina Start-painiketta).
<br/>Jos linkki ei toimi, voit lähettää <%= link_to 'botille', 'http://telegram.me/ollpus_test_bot' %> viestin: <pre>/start <%= @key %></pre>
<br/>Huomaa, että avain on kertakäyttöinen ja vanhenee tunnin kuluessa.
