<h1>Katsele artikkelia
  <%= link_to "&larr;".html_safe, articles_path + "#article" + @article.id.to_s %>
</h1>

<%= render "articles/render", :article => @article %>

<br/>

<%= link_to "&larr; PALAA".html_safe, articles_path + "#article" + @article.id.to_s %>
