<h1>Katsele artikkelia
  <%= link_to "⤶", articles_path + "#article" + @article.id.to_s %>
</h1>

<%= render "articles/render", :article => @article %>

<br/>
<%# There's some fancy unicode-characters here, which might not be visible with your editor font %>
<%= link_to "⤶ PALAA", articles_path + "#article" + @article.id.to_s %>
