<h1>Katsele artikkelia
  <%= link_to "&#8626;".html_safe, articles_path + "#article" + @article.id.to_s %>
</h1>

<%= render "articles/render", :article => @article %>

<br/>

<%= link_to "&#8626; PALAA".html_safe, articles_path + "#article" + @article.id.to_s %>
