// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span.article {
  > h2 > a {
    color: black;
  }
  
  >p.text {
    text-align: justify;
  }
  
  >hr {
    margin-left: 0;
    width: 100%;
  }
  
}


a.action {
  font-size: small;
  margin: 0 6px;
  padding-bottom: 12px;
}

span.bottom_container {
  font-size: small;
}


textarea, input[type="text"] {
  width: 99%;
}

textarea {
  height: 40em;
}
