$bodyfont: 'Open Sans';
$titlefont: 'Lora';
$contentwidth: 50rem;
$contentpadding: 1rem;

html { height: 100%; padding-bottom: 1px; }

body {
  font-family: $bodyfont;
  background-color: #EEE;
}

hr {
  background: black;
  border: 0;
  height: 2px;
}

//--- Header
div.head {
  display: inline-block;
  text-align: left;
  > h1 {
    font-family: $titlefont;
    text-align: center;
    margin-top: $contentpadding;
  }
  
  > hr {
    margin-top: -1em;
  }
  
  > a {
    font-size: small;
    margin-left: 6px;
    padding-bottom: 12px;
  }
  
  > a:first-of-type { margin-left: 0; }
  
  > a.thispage {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
  }
  
}


div.head_wrapper {
  text-align: center;
}

//---

div.content {
  padding: $contentpadding;
  padding-top: 0;
  margin: 0 auto;
  max-width: $contentwidth;
  background-color: white;
  box-shadow: 0 0 5px #888;
}

@media (min-width: $contentwidth + $contentpadding*2) {
  div.content {
    border-radius: 1rem;
    margin-top: $contentpadding;
    margin-bottom: $contentpadding * 2;
  }
}




a {
  text-decoration: none;
  color: blue;
}
